{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% block content %}
    {% load plotly_dash %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-secondary breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="{% url 'realtime' %}">Dashboard</a></li>
                <li class="breadcrumb-item">Request Historis Data</li>
                <li class="breadcrumb-item active" aria-current="page">{{ servername }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-sm">
                <div class="card border-light shadow-sm">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            Detail Server
                        </h5>
                    </div>
                    <div class="card-body">
                        {% for dataserverupdate in listdataserverupdate %}
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap rounded">
                                <tbody>
                                    <!-- Item -->
                                    <tr>
                                        <td class="font-weight-bold border-0">Server Name</td>
                                        <td class="font-weight-bold border-0">{{ dataserverupdate.servername }}</td>
                                    </tr>
                                    <tr>
                                        {% if dataserverupdate.sshstatus == "OK" %}
                                            <td class="font-weight-bold border-0">Connection Status</td>
                                            <td class="text-success border-0">
                                                <span class="fas fa-angle-up"></span>                                   
                                                <span class="font-weight-bold">OK</span>                                 
                                            </td> 
                                        {% else %}
                                            <td class="font-weight-bold border-0">Connection Status</td>
                                            <td class="text-danger border-0">
                                                <span class="fas fa-angle-down"></span>                                   
                                                <span class="font-weight-bold">NOK</span>                                 
                                            </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold border-0">Last Update</td>
                                        <td class="font-weight-bold border-0">{{ dataserverupdate.timeid }}</td>
                                    </tr>
                                    <!-- End of Item -->
                                </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}