{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    

    </body>
    </html>
{% endblock stylesheets %}
{% load static %}
{% block content %}
    {% load plotly_dash %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-secondary breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="{% url 'realtime' %}">Dashboard</a></li>
                <li class="breadcrumb-item">Request Historis Data</li>
                <li class="breadcrumb-item active" aria-current="page">{{ servername }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-sm">
                <div class="card border-light shadow-sm">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            Detail Server
                        </h5>
                    </div>
                    <div class="card-body">
                        {% for dataserverupdate in listdataserverupdate %}
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap rounded">
                                <tbody>
                                    <!-- Item -->
                                    <tr>
                                        <td class="font-weight-bold border-0">Server Name</td>
                                        <td class="font-weight-bold border-0">{{ dataserverupdate.servername }}</td>
                                    </tr>
                                    <tr>
                                        {% if dataserverupdate.sshstatus == "OK" %}
                                            <td class="font-weight-bold border-0">Connection Status</td>
                                            <td class="text-success border-0">
                                                <span class="fas fa-angle-up"></span>                                   
                                                <span class="font-weight-bold">OK</span>                                 
                                            </td> 
                                        {% else %}
                                            <td class="font-weight-bold border-0">Connection Status</td>
                                            <td class="text-danger border-0">
                                                <span class="fas fa-angle-down"></span>                                   
                                                <span class="font-weight-bold">NOK</span>                                 
                                            </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold border-0">Last Update</td>
                                        <td class="font-weight-bold border-0">{{ dataserverupdate.timeid }}</td>
                                    </tr>
                                    <form method="post" action="" class="mt-4">
                                        {% csrf_token %} 
                                        <tr>
                                            <td class="font-weight-bold border-0">Start Date</td>
                                            <td class="font-weight-bold border-0">
                                                {{ form.startdate }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold border-0">End Date</td>
                                            <td class="font-weight-bold border-0">
                                                {{ form.enddate }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold border-0"></td>
                                            <td class="font-weight-bold border-0">
                                                <button type="submit" name="submit" class="btn btn-primary">Open Historical Dashboard</button>
                                            </td>
                                        </tr>
                                    </form>
                                    <!-- End of Item -->
                                </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(function () {
      $("#id_date").datetimepicker({
        format: 'd/m/Y H:i',
      });
    });
  </script>
{% endblock javascripts %}