{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% block content %}
    {% load plotly_dash %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <h1>{{ servername }}</h1>

        <div class="container">
            <div class="row">
              <div class="col-sm card">
                {{ plotram | safe }}
              </div>
              <div class="col-sm card">
                {{ plotcpu | safe }}
              </div>
            </div>
        </div>
        

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

