{% extends "layouts/base.html" %} 

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} 
{% load static %} 
{% block content %}

    <main class="content">
        {% include 'includes/navigation.html' %}

        <div
            class="preloader bg-soft flex-column justify-content-center align-items-center"
        >
            <img
            class="loader-element animate__animated animate__jackInTheBox"
            src="/static/assets/img/brand/light.svg"
            height="60"
            alt="Volt logo"
            />
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-secondary breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="{% url 'realtime' %}">Dashboard</a></li>
                <li class="breadcrumb-item">..</li>
            </ol>
        </nav>

        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                    <th class="border-0">Server Name</th>
                    <th class="border-0">IP Address</th>
                    <th class="border-0">User Access</th>
                    <th class="border-0">Port SSH</th>
                    <th class="border-0">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    {% for dataserverupdate in listdataserverupdate %}
                        <tr>
                            <td class="font-weight-bold">{{ dataserverupdate.servername }}</td>
                            <td class="font-weight-bold">{{ dataserverupdate.ipaddress }}</td>
                            <td class="font-weight-bold">{{ dataserverupdate.username }}</td>
                            <td class="font-weight-bold">{{ dataserverupdate.port }}</td>
                            <td>
                                <a href="/realtime-detail/{{ dataserverupdate.servername }}/">
                                    <button class="btn btn-sm btn-info">Realtime Monitoring</button>
                                </a>
                                <a href="/realtime-detail/{{ dataserverupdate.servername }}/">
                                    <button class="btn btn-sm btn-success">Historical Data</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- End of Item -->
                </tbody>
                </table>
            </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}